body{
	background-image: url(../images/text-seek/text-seek.jpg);
	background-size: 100% 800px;
	background-repeat: no-repeat;
}
.nav{
	position: absolute;
	top: 60px;
	left: 500px;
}
.bt{
	position: absolute;
	top: 450px;
	left: 1100px;
}