<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>category</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/category.css">
</head>
<body>
	<div class="nav">
		<br>
		<a href="<?php  echo  site_url() .'/index/category/cate_add'  ?>" style="font-family: 方正舒体;
	font-size: 25px;
	color: rgb(254,67,101);
	text-decoration: none;">添加题目</a>
		<br>
		<a href="<?php  echo  site_url() .'/index/category/cate_mod'  ?>"  style="font-family: 方正舒体;
	font-size: 25px;
	color: rgb(254,67,101);
	text-decoration: none;">修改题目</a>
		<br>
		<a href="<?php  echo  site_url() .'/index/category/cate_del'  ?>"  style="font-family: 方正舒体;
	font-size: 25px;
	color: rgb(254,67,101);
	text-decoration: none;">删除题目</a>
	</div>
	<div class="bt">
		<input type="button" value="返回" onclick="javascript:history.back();" style="color: green;font-size: 1.5em;border-radius: 30px;"> 
	</div>

	
</body>
</html>