<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页面</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/home.css">
</head>
<body>
	<div class="nav">
	    <input type="submit" value="注销">	
		<p><!-- <?php echo $user; ?> -->，你好！</p>
	</div>
	<div class="content">
		<div class="top-left"><a href="<?php  echo  site_url() .'/index/grade'  ?>">分数统计</a></div>
		<div class="top-right"><a href="<?php  echo  site_url() .'/index/subject'  ?>">科目管理</a></div>
		<div class="middle-left"><a href="<?php  echo  site_url() .'/index/category'  ?>">题库管理</a></div>
		<div class="middle-right"><a href="<?php  echo  site_url() .'/index/student'  ?>">学生管理</a></div>
		<div class="bottom-left"><a href="<?php  echo  site_url() .'/index/test'  ?>">试题管理</a></div>
		<div class="bottom-right"><a href="<?php  echo  site_url() .'/index/about_us/'  ?>">关于我们</a></div>
	</div>
    <p style="text-align: center;color: black;font-size: 2em;">&copy;ACAT</p>


	
</body>
</html>