<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查找学生</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/stu-seek.css">
	<script type="text/javascript" src="<?php  echo base_url() .'style/index' ?>/js/stu-seek.js"></script>
</head>
<body>
	<div class="nav">
	<p>学生查找</p>
	姓名:<input id="name" type="text" />
	<input id="btn1" type="button" value="搜索">
	<table id="tab1" border="1" width="500">
		<thead>
			<td>学号</td>
			<td>姓名</td>
			<td>性别</td>
			<td>成绩</td>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>张三</td>
				<td>25</td>
				<td></td>
			</tr> 

			<tr>
				<td>2</td>
				<td>李四</td>
				<td>21</td>
				<td></td>
			</tr>
			<tr>
				<td>3</td>
				<td>王五</td>
				<td>22</td>
				<td></td>
			</tr>
			<tr>
				<td>4</td>
				<td>张明</td>
				<td>29</td>
				<td></td>
			</tr>
			<tr>
				<td>5</td>
				<td>Blue</td>
				<td>26</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="bt">
	    <input type="button" value="返回" onclick="javascript:history.back();" style="color: green;font-size: 1.5em;"> 
	</div>
</body>
</html>