<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>增添学生</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/stu-add.css">
</head>
<body>
	<div class="nav">
		<p>添加学生</p>
		<p>学号</p>
		<input type="text" value="">
		<p>姓名</p>
		<input type="text" value="">
		<p>性别</p>
		<input type="text" value="">
		<p>密码</p>
		<input type="text" value="">
		<br><br>
		<input type="button" value="提交">
		<input type="button" value="返回" onclick="javascript:history.back();">
	</div>
</body>
</html>