<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>删除学生</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/stu-del.css">
	<script type="text/javascript" src="<?php  echo base_url() .'style/index' ?>/js/stu-del.js"></script>
</head>
<body>
	<div class="nav">
		<p>删除学生</p>
		请输入学号:<input id="name" type="text" />
	    <input id="btn1" type="button" value="查找">
	    <table id="tab1" border="1" width="500">
		<thead>
			<td>学号</td>
			<td>姓名</td>
			<td></td>
		</thead>
		<tbody>
			<tr>
				<td>0001</td>
				<td>张三</td>
				<td></td>
			</tr> 

			<tr>
				<td>0002</td>
				<td>李四</td>
				<td></td>
			</tr>
			<tr>
				<td>0423</td>
				<td>王五</td>
				<td></td>
			</tr>
			<tr>
				<td>454</td>
				<td>晓明</td>
				<td></td>
			</tr>
			<tr>
				<td>7455</td>
				<td>孙二</td>
				<td></td>
			</tr>
		</tbody>
	</table>
		<input type="button" value="返回" onclick="javascript:history.back();">
	</div>
	
</body>
</html>