
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>试卷管理</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/text.css">
</head>
<body>
	<div class="nav">
		<div><a href="<?php  echo  site_url() .'/index/test/test_seek'  ?>">查找试卷</a></div>
		<div><a href="<?php  echo  site_url() .'/index/test/test_corr'  ?>">批阅试卷</a></div>
		<div><a href="<?php  echo  site_url() .'/index/test/test_del'  ?>">删除试卷</a></div>
		<div><a href="<?php  echo  site_url() .'/index/test/test_add'  ?>">修改试卷</a></div>
		<div><a href="<?php  echo  site_url() .'/index/test/test_mod'  ?>">添加试卷</a></div>		
	</div>
	<div class="bt">
	    <input type="button" value="返回" onclick="javascript:history.back();" style="color: green;font-size: 1.5em;"> 
	</div>
	
</body>
</html>