<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加试卷</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/text-add.css">
</head>
<body>
	<div class="nav">
	    <p>题目类型：</p>
	    <input  type="text" />
	    <p>试题号：</p>
	    <input  type="text" />
	    <br> <br>
	</div>
	<div class="bt">
	    <input type="button" value="添加">
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <input type="button" value="返回" onclick="javascript:history.back();">
	</div>
</body>
</html>